[submodule "build"]
	path = build
	url = git@github.com:S0AndS0/sensory-interface.git
	branch = fork-master
[submodule "tests"]
	path = tests
	url = git@github.com:S0AndS0/sensory-interface.git
	branch = gh-pages
