<!--========== footer ==========-->
<footer>
  <div class="container">
    <!--========== social-icons ==========-->
    <div class="row text-center row-social-icon">
      <div class="col">
        <a class="footer-social-link"
           target="_blank"
           rel=”noopener”
           href="https://github.com/hasadna/sensory-interface"
           title="github">

          <img class="footer-social-img" src="assets/images/social-icons/github.png" alt="github logo">
        </a>
      </div>
    </div>
    <!--========== social-icons end ==========-->


    <!--==========  project details ==========-->
    <div class="big-footer-text-heb-row">
      <p class="small-footer-text" id="credit">
        This project is run by The Public Knowledge Workshop (a nonprofit). For more details and
        collaborations, please send an email to: info@sensoryinterface.com
      </p>
    </div>

    <hr width="50%">

    <div class="row text-center">
      <div class="col">
        <p class="small-footer-text">
          Made with &nbsp;
          <img src="assets/images/heart.svg"
               style="width: 8px;opacity: 0.7;margin-top: -4px;"
               alt="heart icon">
          &nbsp; by
          <a style="color: #000A41;" href="https://wonder-solve.com/">
            Wonder
          </a>
        </p>
      </div>
    </div>
    <!--==========  project details end ==========-->
  </div>
</footer>
<!--========== footer end ==========-->
