{% capture workspace__scripts %}
{% if page.scripts %}
  <!---========== scripts ==========-->
  {% for script in page.scripts %}
    {%- unless script.src -%}{%- continue -%}{%- endunless -%}
    {%- assign src = script.src -%}
    {%- unless src contains "https"-%}{%- assign src = script.src | relative_url -%}{%- endunless -%}

    {% capture script_attributes %}src="{{ src }}"{% endcapture %}
    {% if script.integrity %}
      {% capture script_attributes %}{{ script_attributes }} integrity="{{ script.integrity }}"{% endcapture %}
    {% endif %}

    {% if script.crossorigin %}
      {% capture script_attributes %}{{ script_attributes }} crossorigin="{{ script.crossorigin }}"{% endcapture %}
    {% endif %}

    {% if script.defer %}
      {% capture script_attributes %}{{ script_attributes }} defer{% endcapture %}
    {% endif %}

    <script type="text/javascript" {{ script_attributes }}></script>
  {% endfor %}
{%- endif -%}
{% endcapture %}{{ workspace__scripts | strip }}{% assign workspace__scripts = nil %}
