{% capture workspace__scripts %}
{% if page.scripts %}
  <!---========== scripts ==========-->
  {% for script in page.scripts %}
    {%- unless script.src -%}{%- continue -%}{%- endunless -%}
    {%- assign src = script.src -%}
    {%- unless src contains "https"-%}{%- assign src = script.src | relative_url -%}{%- endunless -%}
    <script type="text/javascript" src="{{ src }}"{% if script.integrity %} integrity="{{ script.integrity }}"{% endif %}{% if script.crossorigin %} crossorigin="{{ script.crossorigin }}"{% endif %}{% if script.defer %} defer{% endif %}></script>
  {% endfor %}
{%- endif -%}
{% endcapture %}{{ workspace__scripts | strip }}{% assign workspace__scripts = nil %}
