<!--========== language-pop-up ==========-->
<div style="z-index: 99999;" class="modal fadeIn" id="language-popup" tabindex="-1" role="dialog"
  aria-labelledby="lang" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="select-language-header">Change language</h5>
        <button id="modalCloseButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-right">
        <a class="dropdown-item" href="#" onclick="changeLanguage('he')">עברית</a>
        <a class="dropdown-item" href="#" onclick="changeLanguage('en')">English</a>
      </div>
    </div>
  </div>

</div>
<!--========== language-pop-up end ==========-->
