{% capture workspace__navbar %}
<!--========== navbar ==========-->
<nav class="wonder-nav">
  <ul class="wonder-nav-ul" dir="ltr">

    <!--===== desktop view =====-->
    <li class="nav-logo d-none d-md-block" aria-hidden="true">
      <img class="top-bar-icon-desk" src="{{ '/assets/images/logo/s-logo-white.svg' | relative_url }}" alt="navbar-logo">
    </li>

    <li class="wonder-nav-li d-none d-md-block">
      <a class="language-click nav-link" href="#" id="language">
        Language
      </a>
    </li>

    <li class="wonder-nav-li d-none d-md-block">
      <a class="nav-link" target="_blank" href="{{ '/usage/index-en/' | relative_url }}" id="tutorial">
        Tutorial
      </a>
    </li>

    <li class="wonder-nav-li d-none d-md-block">
      <a class="nav-link" href="#team-anchor" id="theTeam">
        The team
      </a>
    </li>

    <li class="wonder-nav-li d-none d-md-block">
      <a class="nav-link" href="#how-anchor" id="howWork">
        How it works
      </a>
    </li>

    <li class="wonder-nav-li d-none d-md-block">
      <a class="nav-link" href="#about-anchor" id="aboutUs1">
        About us
      </a>
    </li>

    <li class="wonder-nav-li d-none d-md-block">
      <a class="nav-link" href="{{ '/privacy/index-en/' | relative_url }}" id="privacyNotice">
        Privacy
      </a>
    </li>
    <!--===== desktop view end =====-->


    <!--===== mobile view =====-->
    <!--
    <li class="nav-logo d-md-none">
      <a href="{{ 'index.html' | relative_url }}">
        <img class="top-bar-icon" src="{{ '/assets/images/logo/s-logo-blue.svg' | relative_url }}" alt="navbar-logo">
      </a>
    </li>

    <li class="wonder-nav-li d-md-none">
      <button class="hamburger hamburger--minus menu-icon" type="button" style="padding-right:25px;">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span></span>
      </button>
    </li>
  -->
    <!--===== mobile view end =====-->
  </ul>
</nav>
<!--========== navbar end ==========-->
{% endcapture %}{{ workspace__navbar | strip }}{% assign workspace__navbar = nil %}
