{% capture workspace__side_bar %}
<!--========== side bar ==========-->
<div class="side-bar" style="display: none;">
  <div class="container">
    <div class="row side-bar-row text-center">
      <div class="col-12">
        <a class="side-bar-link" href="#about-anchor">
          About us
        </a>
      </div>
      <br>
      <br>
      <br>
      <div class="col-12">
        <a class="side-bar-link" href="#how-anchor">
          How it works
        </a>
      </div>
      <br>
      <br>
      <br>
      <div class="col-12">
        <a class="side-bar-link" href="#team-anchor">
          The team
        </a>
      </div>
      <br>
      <br>
      <br>
      <div class="col-12">
        <a class="side-bar-link" target="_blank" href="{{ '/usage/index-en/' | relative_url }}" id="tutorial" rel="noreferrer">
          Tutorial
        </a>
      </div>
      <br>
      <br>
      <br>
      <div class="col-12">
        <a class="side-bar-link" target="_blank" href="{{ '/privacy/index-en/' | relative_url }}" id="privacy" rel="noreferrer">
          Privacy
        </a>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<!--========== side bar end ==========-->
{% endcapture %}{{ workspace__side_bar | strip }}{% assign workspace__side_bar = nil %}
